<div class="container mt-5">
    <h2 class="text-center mb-4">Channel List</h2>
    <div class="table-responsive">
        <button class="btn btn-info btn-sm" routerLink="/channel-details">Create new</button>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Channel Name</th>
            <th>Channel ID</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.channel_name }}</td>
            <td>{{ item.channel_id }}</td>
            <td>{{ item.status }}</td>
            <td>
              <button class="btn btn-info btn-sm" routerLink="/channel-details" [queryParams]="{ channel_id: item.id }">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Phân trang -->
    <div class="d-flex justify-content-center mt-4">
      <button *ngFor="let page of [].constructor(totalPage); let i = index"
        class="btn btn-info btn-sm mx-1" (click)="ChangePage(i)">
        {{ i + 1 }}
      </button>
    </div>
  </div>
  